.Movie{
    border:1px solid black;
    padding:10px;
    text-align:center;
    font-size: 15px;
}

@media (max-width:400px)
{
    .Movie{
        width:90%;
    }
}

@media only screen and (min-width: 400px) {
    .Movie{
        width:45%;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .Movie{
        width:30%;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .Movie{
        width:20%;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .Movie{
        width:18%;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .Movie{
        width:15%;
    }
  }

hr { 
    width:60%;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}